asgiref==3.8.1
Django==5.0.8
django-bootstrap5==24.2
django-browser-reload==1.17.0
django-seed==0.3.1
django-taggit==6.0.0
django-tailwind==3.8.0
mysqlclient==2.2.6
oauthlib==3.2.2
pillow==10.4.0
python-dateutil==2.9.0.post0
python-slugify==8.0.4
python3-openid==3.2.0
pytz==2024.1
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==75.1.0
six==1.16.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.1
toposort==1.10
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
