{% extends 'base.html' %}
{% block title %}Team{% endblock%}

{% load static %}
{% block content %}

    <!-- Meet Our Team Section -->
    <section class="container max-w-7xl mx-auto my-8 text-center">
        <h1 class="text-6xl font-semibold text-[#342220] mb-8">Meet Our Team</h1>
        <h2 class="text-center px-7 mb-4">We bring dreams to life with our passionate and skilled team. Each member is dedicated to making every wedding unique and special as we celebrate.</h2>
        <div class="flex justify-center space-x-12">
            <!-- Team Member Cards -->
             {% for team in card_team %}
             <div class="bg-white rounded-lg shadow-lg w-64 h-[300px] border-neutral-900 hover:bg-[#EDE2DE]">
                <!-- Menambahkan object-fit dan fixed aspect ratio -->
                <div class="w-full h-42 overflow-hidden rounded-md">
                    <img 
                        src="{{ MEDIA_URL }}{{ team.image }}" 
                        alt="Member Image" 
                        class="w-full h-full object-cover">
                </div>
                <h3 class="text-xl font-semibold">{{ team.name }}</h3>
                <p class="text-gray-600">{{ team.Position }}</p>
            </div>
             {% endfor %}
        </div>
    </section>

    <!-- FAQ Section -->
    <section class="container max-w-7xl mx-auto  my-16" x-data="{ open: false, open1: false, open2: false, open3: false, open4: false}">
        <h2 class="text-4xl font-semibold text-center mb-8">Frequently Asked Questions</h2>
        <div class="bg-white p-8 rounded-lg shadow-lg space-y-4 max-w-7xl mx-auto">
            <!-- FAQ Items -->
            <div class="border-b">
                <button @click="open = ! open" type="button" class="flex justify-between w-full text-left py-4 text-lg font-semibold text-gray-700 focus:outline-none hover:bg-[#EDE2DE]">
                    What services does Mutiara Wedding offer?
                    <span>+</span>
                </button>
                <div 
                    x-show="open"
                    x-transition:enter="transition ease-out duration-300"
                    x-transition:enter-start="transform opacity-0 scale-90"
                    x-transition:enter-end="transform opacity-100 scale-100"
                    x-transition:leave="transition ease-in duration-300"
                    x-transition:leave-start="transform opacity-100 scale-100"
                    x-transition:leave-end="transform opacity-0 scale-90"
                class="mt-2 text-gray-600" :class="open ? 'block' : 'hidden'">
                    Mutiara Wedding provides full-service wedding planning, including venue selection, decoration, catering, entertainment, photography, and more. We tailor each event to meet your specific needs.
                </div>
            </div>
            <div class="border-b">
                <button  @click="open1 = ! open1" class="flex justify-between w-full text-left py-4 text-lg font-semibold text-gray-700 focus:outline-none hover:bg-[#EDE2DE]">
                    Can I customize my wedding package?
                    <span>+</span>
                </button>
                <div 
                    x-show="open1"
                    x-transition:enter="transition ease-out duration-300"
                    x-transition:enter-start="transform opacity-0 scale-90"
                    x-transition:enter-end="transform opacity-100 scale-100"
                    x-transition:leave="transition ease-in duration-300"
                    x-transition:leave-start="transform opacity-100 scale-100"
                    x-transition:leave-end="transform opacity-0 scale-90"
                class="mt-2 text-gray-600" :class="open1 ? 'block' : 'hidden'">
                    Yes, our wedding packages can be fully customized to suit your preferences and budget.
                </div>
            </div>
            <div class="border-b">
                <button @click="open2 = ! open2" class="flex justify-between w-full text-left py-4 text-lg font-semibold text-gray-700 focus:outline-none hover:bg-[#EDE2DE]">
                    Do you provide wedding coordination on the day of the event?
                    <span>+</span>
                </button>
                <div 
                    x-show="open2"
                    x-transition:enter="transition ease-out duration-300"
                    x-transition:enter-start="transform opacity-0 scale-90"
                    x-transition:enter-end="transform opacity-100 scale-100"
                    x-transition:leave="transition ease-in duration-300"
                    x-transition:leave-start="transform opacity-100 scale-100"
                    x-transition:leave-end="transform opacity-0 scale-90"
                class="mt-2 text-gray-600" :class="open2 ? 'block' : 'hidden'">
                    Absolutely! We ensure smooth coordination on the day of the event so you can relax and enjoy.
                </div>
            </div>
            <div class="border-b">
                <button @click="open3 = ! open3" class="flex justify-between w-full text-left py-4 text-lg font-semibold text-gray-700 focus:outline-none hover:bg-[#EDE2DE]">
                    How early should I book Mutiara Wedding for my event?
                    <span>+</span>
                </button>
                <div 
                    x-show="open3"
                    x-transition:enter="transition ease-out duration-300"
                    x-transition:enter-start="transform opacity-0 scale-90"
                    x-transition:enter-end="transform opacity-100 scale-100"
                    x-transition:leave="transition ease-in duration-300"
                    x-transition:leave-start="transform opacity-100 scale-100"
                    x-transition:leave-end="transform opacity-0 scale-90"
                class="mt-2 text-gray-600" :class="open3 ? 'block' : 'hidden'">
                    We recommend booking at least 6-12 months in advance to ensure the best experience.
                </div>
            </div>
            <div class="border-b">
                <button @click="open4 = ! open4" class="flex justify-between w-full text-left py-4 text-lg font-semibold text-gray-700 focus:outline-none hover:bg-[#EDE2DE]">
                    Do you work with specific vendors?
                    <span>+</span>
                </button>
                <div 
                    x-show="open4"
                    x-transition:enter="transition ease-out duration-300"
                    x-transition:enter-start="transform opacity-0 scale-90"
                    x-transition:enter-end="transform opacity-100 scale-100"
                    x-transition:leave="transition ease-in duration-300"
                    x-transition:leave-start="transform opacity-100 scale-100"
                    x-transition:leave-end="transform opacity-0 scale-90"
                class="mt-2 text-gray-600" :class="open4 ? 'block' : 'hidden'">
                    Yes, we collaborate with trusted vendors to provide you with high-quality services.
                </div>
            </div>
        </div>
    </section>
{% endblock %}
