{% extends 'base.html' %}

{% block title %}
    Gallery
{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto px-4 my-8">
    <h1 class="text-6xl font-semibold text-[#342220] text-center mb-8">Our Wedding Photo Gallery</h1>
    <h2 class="text-center mb-4">With a glimpse of love, laughter, and happily ever after. Discover the memories we cherish in our Gallery.</h2>
    
    <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6">
        {% for image in images %}
        <div class="break-inside-avoid">
            <img 
                src="{{MEDIA_URL}}{{ image.url }}" 
                alt="Wedding Photo" 
                class="w-full rounded-lg shadow-lg"
                loading="lazy"
            >
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}